.cup {
  position: absolute;
  top: 50%;
  z-index: 1;
  transition: left 0.7s ease;
  transform: translateY(-50%);
}

.cup:first-child {
  margin-left: 0;
}

.cup:disabled {
  cursor: default;
}

.cup-wrapper {
  padding: 0 20px;
}

.cup-wrapper > .cup-image {
  position: relative;
  bottom: 0;
  z-index: 1;
  max-width: 100%;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}

.cup-wrapper > .cup-raised {
  bottom: 100px;
}

.cup-wrapper > .ball {
  position: absolute;
  left: 50%;
  bottom: 0px;
  max-width: calc(100% / 2.5);
  transform: translatex(-50%);
}
